@model Project_StarWarsAPI_MVC.Models.ViewModels.StarshipViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name) Details</h1>

<div>
    <h4>Starship</h4>
    <hr />
    <img src="@Url.Action("byteToImg", new { Id = Model.Id})" alt="Ship Image: @Model.Name" style="width: 25vw; height:auto" /> 
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost_In_Credits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost_In_Credits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Max_Atmosphering_Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Max_Atmosphering_Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passengers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passengers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo_Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo_Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumables)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumables)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hyperdrive_Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hyperdrive_Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MGLT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MGLT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Starship_Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Starship_Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pilots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pilots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Films)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Films)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
